:root {
    --primary-color: #2a369d; /* Deep blue for primary elements */
    --secondary-color: #264653; /* Darker blue-gray for secondary elements */
    --accent-color: #1a73e8; /* Lighter blue accent */
    --background-color: #ffffff; /* White background for a clean look */
    --card-background-color: #f0f4f8; /* Soft off-white for card backgrounds */
    --text-color: #333333; /* Dark gray for text for better readability */
    --card-shadow-color: rgba(0, 0, 0, 0.05); /* Lighter shadow for a subtle effect */
}

body {
    background: var(--background-color);
    font-family: 'Arial', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: var(--card-background-color);
    border-radius: 10px;
    box-shadow: 0 8px 16px var(--card-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 20px;
    height: 40%;
}

.input {
    width: 100%;
    text-align: center;
}

#DOB {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    width: 70%;
    font-size: 16px;
    transition: all 0.3s ease;
}

#DOB:focus {
    border-color: var(--accent-color);
    outline: none;
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.5);
}

.result {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 10px;
}

.result::before {
    content: "Your age will appear here:";
    display: block;
    font-size: 1.1rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
